## Code : Square Pattern

No: of rows: n
  No: columns in ith row: n
  What to print: n

In [3]:
n =  int(input())
i = 0
j = 0

while i < n:
    while j < n:
        print(n, end = '')
        j += 1
    j = 0
    i += 1
    print()

7
7777777
7777777
7777777
7777777
7777777
7777777
7777777

### Code : Triangular Star Pattern

*
**
***
****

no of rows = n
no of columns in ith row = i + 1
what to print? *

In [4]:
n = int(input())

for i in range(n):
    for j in range(i+1):
        print("*", end = '')
    print()

4
*
**
***
****

### Code : Triangle Number Pattern

1
22
333
4444

no of rows = n
no of columns in ith row = i+1
what to print? i+1

In [6]:
n = int(input())

for i in range(n):
    for j in range(i+1):
        print(i+1, end = '')
    print()

4
1
22
333
4444

### Code : Reverse Number Pattern

1
21
321
4321

number of rows = n
number of columns in ith row = i + 1
what to print? i-j+1

In [7]:
n = int(input())

for i in range(n):
    t = i
    for j in range(i+1):
        print(t+1, end = '')
        t -= 1
    print()

4
1
21
321
4321

In [8]:
n = int(input())

for i in range(n):
    for j in range(i+1):
        print(i-j+1, end = '')
    print()

4
1
21
321
4321

### Code : Character Pattern

A
BC
CDE
DEFG

number of rows = n
number of columns in ith row = i+1
what to print: first_char + i

In [4]:
n = int(input())

first_char = ord('A')

for i in range(n):
    t = i
    for j in range(i+1):
        print(chr(first_char+t), end = '')
        t += 1
    print()

4
A
BC
CDE
DEFG

### Code : Interesting Alphabets

Pattern for N = 5
E
DE
CDE
BCDE
ABCDE

number of rows = n
number of columns in ith row = i+1
what to print? first_char-i

In [8]:
n = int(input())

#ASCII of A
A = ord('A')
#ASCII of first character in pattern
first_char = A + n - 1

for i in range(n):
    t = i
    for j in range(i+1):
        print(chr(first_char-t), end = '')
        t -= 1
    print()

5
E
DE
CDE
BCDE
ABCDE

## Assignment

### Number Pattern 1

1
11
111
1111

n
i+1
1

In [9]:
n = int(input())

for i in range(n):
    for j in range(i+1):
        print(1, end = '')
    print()

4
1
11
111
1111

### Number Pattern 2

1
11
202
3003

n
i+1
print(1) on first row, from second row onwards print(i) space print(i-1 no:of zeroes)

In [15]:
#taking input
n = int(input())

print(1)

for i in range(1, n):
    print(i, end = '')
    j = i
    for j in range(i-1):
        print(0, end = '')
    print(i)

5
1
11
202
3003
40004

### Number Pattern 3

1
11
121
1221

n
i+1
what to print? for i=0 1
               for other rows: print a 1, followed by i-1 2s

In [17]:
n = int(input())

print(1)

for i in range(1, n):
    print(1, end = '')
    for j in range(i-1):
        print(2, end = '')
    print(1)

4
1
11
121
1221

### Number Pattern

1234
123
12
1

n
n-i
j+1

In [18]:
n = int(input())

for i in range(n):
    for j in range(n-i):
        print(j+1, end = '')
    print()

4
1234
123
12
1

### Alpha Pattern

A
BB
CCC
DDDD

n rows
i+1 columns
first_char+i

In [19]:
n = int(input())

first_char = ord('A')

for i in range(n):
    for j in range(i+1):
        print(chr(first_char+i), end = '')
    print()

4
A
BB
CCC
DDDD