### Code : Inverted Number Pattern

Pattern for N = 4

4444
333
22
1

rows: n
columns in row: n - i
print: n - i

In [1]:
n = int(input())

for i in range(n):
    for j in range(n-i):
        print(n-i, end = ' ')
    print()

4
4 4 4 4
3 3 3
2 2
1

### Code : Mirror Number Pattern

Pattern for N = 4

   1
  12
 123
1234

rows: n
columns in row: n
print: 'space' while j < n - i - 1 and a count variable for numbers printed in each row after that

In [2]:
n = int(input())

for i in range(n):
    count = 1
    for j in range(n):
        
        if j < n -i -1:
            print(' ', end = '')
        else:
            print(count, end ='')
            count += 1
    print()

4
   1
  12
 123
1234

### Code : Star Pattern

n=4

   *
  ***
 *****
*******

rows: n
cols: 2n-1
print: n-i-1 spaces followed by 2(i+1)-1 stars

In [5]:
n = int(input())

for i in range(n):
    count = 0
    while count < (n-i-1):
        print(' ', end = '')
        count += 1
    count = 0
    while count < (2*(i+1)-1):
        print('*', end = '')
        count += 1
    print()

4
   *
  ***
 *****
*******

### Code : Triangle of Numbers

n=4

   1
  232
 34543
4567654

rows: 4
columns: 2n-1
print: n-i -1 spaces followed by (2(i+1)-1) = odd numbers
       numbers start from i=1
       increment until odd//2 and decrement after that

In [8]:
n = int(input())

for i in range(n):
    #number of spaces in each row
    spaces = n - i - 1
    #number of numbers in each row
    numbers = (2*(i+1)-1)
    #count of prints done
    count = 0
    #print 'spaces' spaces
    while count < spaces:
        print(' ', end = '')
        count += 1
    count = 0
    #number to be printed
    p = i+1
    #printing 'numbers' numbers
    while count < numbers:
        print(p, end = '')
        if count < (numbers//2):
            p += 1
        else:
            p -= 1
        count += 1
    print()

5
    1
   232
  34543
 4567654
567898765

## Assignment

### Number Pattern

n=4

1      1
12    21
123  321
12344321

rows = n
columns = 2n-1
print: i+1 numbers followed by even number of spaces starting from 2n-2 to 0 followed by i+1 numbers

In [9]:
n = int(input())

for i in range(n):
    numbers = i+1
    #even number of spaces starting from 2n-2 to 0
    spaces = 2*n-((i+1)*2)
    
    #count of prints
    count = 0
    p = 0
    #printing first set of numbers
    while count < numbers:
        p += 1
        print(p, end = '')
        count += 1
        
    count = 0
    #printing spaces
    while count < spaces:
        print(' ', end = '')
        count += 1
        
    count = 0
    #printing second set of numbers
    while count < numbers:
        print(p, end = '')
        count += 1
        p -= 1
    
    print()

4
1      1
12    21
123  321
12344321

### Zeros and Stars Pattern

Pattern for N = 4

*000*000*
0*00*00*0
00*0*0*00
000***000

rows: n
columns in each row: 2n+1
print: print a * at counts (i), (n) and (n-i-1)

In [20]:
n = int(input())

#number of columns
m = (2*n) + 1
for i in range (n):
    count = 0
    for j in range(m):
        if count in {i, n, m-i-1}:
            print('*', end = '')
        else:
            print('0', end = '')
        count += 1
    print()

8
*0000000*0000000*
0*000000*000000*0
00*00000*00000*00
000*0000*0000*000
0000*000*000*0000
00000*00*00*00000
000000*0*0*000000
0000000***0000000

### Pyramid Number Pattern

Pattern for N = 4
   1
  212
 32123
4321234

row: n
columns: 2n-1
print: n-i-1 spaces followed by odd number(2(i+1)-1) numbers
       numbers start from i+1
       decrease by 1 until odd number//2
       increase for the rest

In [22]:
n = int(input())

for i in range(n):
    
    spaces = n-i-1
    #i+1 th odd number
    numbers = (2*(i+1))-1
    
    count = 0
    while count < spaces:
        print(' ', end = '')
        count += 1
        
    start = i + 1
    count = 0
    while count < numbers:
        print(start, end = '')
        if count < numbers//2:
            start -= 1
        else:
            start += 1
        count += 1
    print()

4
   1
  212
 32123
4321234

### Arrow pattern

Assume N is always odd.
Note : There is space after every star.
Pattern for N = 7

*
 * *
   * * *
     * * * *
   * * *
 * *
*

rows: n
columns: 
print: keep a count of rows prinited
       print count+1 stars
       increment count until count < n//2+1 and decrement afterwards
       
2 4 7
1 5 7
0 6 7

In [27]:
n = int(input())
count = 0

for i in range(n):
    
    if i < (n//2)+1:
        spaces = i
        stars = i + 1
    else:
        spaces = n - i - 1
        stars = n - i
    
    count = 0
    while count < spaces:
        print(' ', end = '')
        count += 1
    
    count = 0
    while count < stars:
        print('* ', end = '')
        count += 1
    print()

11
*
 * *
  * * *
   * * * *
    * * * * *
     * * * * * *
    * * * * *
   * * * *
  * * *
 * *
*