## Inverted Triangle

n = 4

* * * *
* * * 
* * 
*

rows:n
columns in row: n - i
print: *

In [1]:
n = int(input())

for i in range(n):
    for j in range(n-i):
        print("*", end = ' ')
    print()

4
* * * *
* * *
* *
*

## Reversed Triangle

n = 4

   *
  **
 ***
****

rows: n
columns in row: n
print: 'space' while j < n-i - 1 and '*' after that

In [3]:
n = int(input())

for i in range(n):
    for j in range(n):
        if j < n - i - 1:
            print(' ', end = '')
        else:
            print('*', end = '')
    print()

4
   *
  **
 ***
****

## Isosceles Pattern

n=4
   1
  121
 12321
1234321

rows:n
columns in row: (n*2)-1
print:
spaces = n-1
numbers = 1
print 'spaces' spaces followed by 'numbers' numbers, followed by 'spaces' spaces
decrement spaces
increment numbers by 2

In [13]:
n = int(input())

cols = (n*2)-1
spaces = n - 1
numbers = 1

for i in range(n):
    prnt = 1
    
    k = 0
    while k < spaces:
        print(' ', end = '')
        k += 1
    k = 0
    while k < numbers:
        print(prnt, end = '')
        if k < (numbers//2):
            prnt += 1
        else:
            prnt -= 1
        k += 1
    spaces -= 1
    numbers += 2
    print()

5
    1
   121
  12321
 1234321
123454321

## Practice Problems

### N = 4

   *
  ***
 *****
*******

   1
  121
 12321
1234321
 12321
  121
   1

1     1
 2   2
  3 3
   4
  3 3
 2   2
1     1

   *  
  ***
 *****
*******
 *****
  ***
   *

## 1

rows: n
columns: 2n-1
print: n-i-1 spaces followed by 2*(i+1)-1 asterisks

In [1]:
n = int(input())

for i in range(n):
    for j in range(n-i-1):
        print(' ', end = '')
    for j in range((2*(i+1))-1):
        print('*', end = '')
    print()

4
   *
  ***
 *****
*******

## 2

rows: 2n-1
columns: 2n-1
print: i = 1 1*1
       i = 2 11*11
       i = 3 111*111 etc.

   1
  121
 12321
1234321
 12321
  121
   1

In [30]:
n = int(input())

spaces = n-1
one = '1'

for i in range(1,2*n):
    #printing spaces
    for j in range(abs(spaces)):
        print(' ', end = '')
    spaces -= 1
    
    #numbers are basically products 1*1, 11*11, 111*111 etc.; digits has the number of digits in these operands
    if i <= n:
        digits = i
    else:
        digits = (2*n) - i
        
    p = '1'
    #assembling multiplier
    for j in range(1, digits):
        p += one
    
    #printing number
    print(int(p)*int(p), end='')
        
    print()

4
   1
  121
 12321
1234321
 12321
  121
   1

## 3


1     1
 2   2
  3 3
   4
  3 3
 2   2
1     1

rows: 2n-1
columns: n
print: i-1 spaces, followed by i, followed by n-i spaces, followed by i

In [49]:
n = int(input())

initial_space = 0
middle_space = n+1

for i in range(1, 2*n):
    
    for j in range(initial_space):
        print(' ', end = '')
    if i < n:
        print(initial_space+1, end = '')
        initial_space += 1
    else:
        print(initial_space+1, end = '')
        initial_space -= 1
    
    
    
    for j in range(abs(middle_space)):
        print(' ', end = '')
    
    
    if i <n:
        print(i, end = '')
        middle_space -= 2
    elif i>n:
        print((2*n)-i, end = '')
        middle_space -= 2
    
    print()

4
1     1
 2   2
  3 3
   4
  3 3
 2   2
1     1

## 4


   *  
  ***
 *****
*******
 *****
  ***
   *

rows: 2n-1
columns: 2n-1
print:

In [51]:
n = int(input())

spaces = n-1

for i in range(1, (2*n)):
    
    for j in range(abs(spaces)):
        print(' ', end = '')
    spaces -= 1
    
    if i <= n:
        stars = (2*i) - 1
    else:
        stars = (2*(2*n-i) - 1)
        
    for j in range(stars):
        print('*', end = '')
        
    print()

4
   *
  ***
 *****
*******
 *****
  ***
   *