# Assignment

## Binary Pattern

Pattern for N = 4

1111
000
11
0

rows: n
columns in row: n-i+1
print: 1 for odd, o for even row

In [4]:
n = int(input())

for i in range(1, n+1):
    for j in range(1, n-i+2):
        if i % 2 == 0:
            print(0, end = '')
        else:
            print(1, end = '')
    print()

4
1111
000
11
0

## Print Number Pyramid

For eg. N = 6

123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

rows: 2n-1
columns: n
print: i-1 spaces until i <= n 
       2n-1-i spaces aftwewards
       
       numbers from i to n 

1
2   
3
4
5
6
7
8
9
10
11

In [8]:
n = int(input())

for i in range(1, 2*n):
    if i<= n:
        spaces = i - 1
        start_number = i
    else:
        spaces = (2*n)-1-i
        start_number = (2*n)-i
    
    for j in range(spaces):
        print(' ', end = '')
        
    for j in range(start_number, n+1):
        print(j, end = '')
    
    print()

6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

## Diamond of stars

N=5

  *
 ***
*****
 ***
  *

rows: n
columns: n
print: spaces starting from n//2 and decrement - use abs()
       2i-1 asterisks until n//2+1, (n+1-i)th odd number of asterisks after that

In [14]:
n = int(input())

spaces = n//2

for i in range(1, n+1):
    
    for j in range(abs(spaces)):
        print(' ', end = '')
    spaces -= 1
    
    if i <= (n//2)+1:
        asterisks = (2*i)-1
    else:
        asterisks = 2*(n+1-i)-1
        
    for j in range(asterisks):
        print('*', end = '')
        
    print()

23
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
***********************
 *********************
  *******************
   *****************
    ***************
     *************
      ***********
       *********
        *******
         *****
          ***
           *

## Rectangular numbers

Pattern for N = 4

4444444
4333334
4322234
4321234
4322234
4333334  
4444444

row: 2n-1
columns: 2n-1
print:

In [16]:
n = int(input())

higher_index = (2*n) - 2
lower_index = 0

for i in range((2*n)-1):
    num = n
    for j in range((2*n)-1):
        
        print(num, end = '')
        
        if j < lower_index:
            num -= 1
            
        if j>= higher_index:
            num += 1
            
    lower_index += 1
    higher_index -= 1
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

## Print the pattern

Pattern for N = 5
 
 1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10

rows: n
columns: n
print: until i <= n//2 +1, print (n*(2*i))+j
       print (n*(2(n-i)-1))+j)

In [27]:
import math

n = int(input())

for i in range(n):
    for j in range(n):
        
        if i < math.ceil(n/2):
            print((n*(2*i))+j+1, end = ' ')
        else:
            print((n*(2*(n-i)-1))+j+1, end = ' ')
            
    print()

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10